@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    overflow: hidden;
    background-color: #000;
}

#home,
#info,
#end,
#high-scores {
    width: 100vw;
    height: 100vh;
}

#home-menu {
    position: relative;
    color: #fff;
    width: 40%;
    height: 40%;
    background: #000;
    color: #fff;
    text-align: center;
}

#home-menu>h1 {
    font-size: 3.5vw;
    margin: 2rem 0;
}

#home-menu:before,
#home-menu:after {
    content: "";
    position: absolute;
    width: 101%;
    height: 102%;
    background: linear-gradient(45deg, red, yellow, green, blue, yellow, purple);
    z-index: -1;
    background-size: 400%;
    animation: borderbg 40s linear infinite;
}

.hidden {
    display: none !important;
}

.btn {
    padding: 10px 30px;
}

@keyframes borderbg {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}

#home-menu:after {
    filter: blur(40px);
}

/* .btn {
  

} */

/* Form */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20vw;
    padding: 1vh 2vw;
    font-size: 1.5vw;
    text-align: center;


}

.btn {
    text-align: center;
    padding: 1vh 2vw;
    color: white !important;
    font-size: 1.5vw;
    margin-bottom: 20px;
    width: 20vw;
}

#final-score {
    color: white;
    margin-bottom: 20px;
}

/* Media queries */

@media (max-width: 768px) {


    #home-menu>h1 {
        font-size: 10vw;

    }

    #home-menu:before,
    #home-menu:after {
        width: 102%;
        height: 102%;
    }

    .btn {
        font-size: 5vw;
        width: 60vw;

    }

    input {
        width: 60vw;
        font-size: 5vw;
    }


}

@media (min-width: 768px) and (max-width: 991px) {



    #home-menu>h1 {
        font-size: 8vw;

    }

    #home-menu:before,
    #home-menu:after {
        width: 101%;
        height: 102%;
    }

    .btn {
        font-size: 3vw;
        width: 30vw;

    }

    input {
        width: 30vw;
    }

}