@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    overflow: hidden;
    background-color: #000;
}

#home {
    width: 100vw;
    height: 100vh;
}

#home-menu {

    position: relative;
    color: #fff;
    width: 40%;
    height: 30%;
    background: #000;
    color: #fff;
    text-align: center;
}

#home-menu>h1 {
    font-size: 4rem;
    margin: 2rem 0;
}

#home-menu:before,
#home-menu:after {
    content: "";
    position: absolute;

    width: 101%;
    height: 103%;
    background: linear-gradient(45deg, red, yellow, green, blue, yellow, purple);
    z-index: -1;
    background-size: 400%;
    animation: borderbg 40s linear infinite;
}

@keyframes borderbg {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}

#home-menu:after {
    filter: blur(40px);
}

.btn {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Media queries */
@media (max-width: 576px) {
    #home-menu>h1 {
        font-size: 1rem;
    }

    #home-menu:before,
    #home-menu:after {
        width: 103%;
        height: 102%;
    }
}